rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ------------------------- HELPERS -------------------------

    function onlyHasAttrs(obj, attrs) {
      return obj.keys().hasOnly(attrs);
    }

    function incoming() {
      return request.resource.data;
    }

    // -------------------------- RULES --------------------------

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId}/{document=**} {
      allow read: if request.auth.uid == userId;

      match /training-blocks/{trainingBlockId} {
        function isCorrectSchema() {
          return onlyHasAttrs(
            request.resource.data,
            [
              'name',
              'exerciseDays',
              'archivedAt',
              'startedAt',
              'exerciseDaysOrdering',
              'exercisesCollapsedIncludingIndex'
            ]
          );
        }

        allow write: if isCorrectSchema();
      }

      match /exercise-types/{exerciseTypeId} {
        function isCorrectSchema() {
          return onlyHasAttrs(request.resource.data, ['name', 'unit', 'notes', 'trainingBlockId', 'exercises', 'archivedAt'])
              && incoming().name is string
              && incoming().unit is string
              && incoming().notes is string
              && incoming().trainingBlockId is string
              && incoming().exercises is list
              && incoming().archivedAt is number || incoming().archivedAt == null;
        }

        allow write: if isCorrectSchema();
      }
    }
  }
}
