<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587872278204-8jqcrtd1ifuha5nhcstmsa1bifkj44c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587872278204-8jqcrtd1ifuha5nhcstmsa1bifkj44c8</string>
	<key>API_KEY</key>
	<string>AIzaSyDh1Sa-eGmBGTeTuD9lda6nXp1VQ0r1erA</string>
	<key>GCM_SENDER_ID</key>
	<string>587872278204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.journalFlutter</string>
	<key>PROJECT_ID</key>
	<string>journal-j-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-j-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587872278204:ios:12d73e966d40694a5362b9</string>
</dict>
</plist>